<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Rewrite to Medical Record" stopProcessing="true">
                    <match url="^patients/(\d+)$" />
                    <action type="Rewrite" url="/medical-record/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>